html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
p{
  margin: 0 0 0 0;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin: 0px;
  padding: 0px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hor_center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.vert_center{
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

.hor_vert_center{
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50% -50%);
}

.block{
  display: block;
}

.full_h{
  height: 100%;
}
.full_h2{
  height: 100%;
}
.material-icons.personal{
  font-size: 36px;
  color: #4D4D4D;
}
/*LOADER*/
.loader{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 10;
}
.hide{
  height: 0px;
}
/*HEROBANNER*/
.logo{
  width: 75px;
  height: 75px;
}
.hero_banner{
  background-image: url(../img/hero_banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90%;
}

.black_op{
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.hb_txt{
  color: #FFFFFF;
  font-size: 40px;
}
/*HOW IT WORKS*/
.section1_txt{
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: 300;
}

.button {
  background-color: #87D37C;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #FFFFFF;
  letter-spacing: 1px;
}

.button:hover{
  background-color: white;
  color: #87D37C;
  border: 2px solid #87D37C;
  transition: 0.5s;
}

.spacing{
  padding: 50px 0px 50px 0px;

}
.spacing .top{
  padding: 50px 0px 0px 0px;
}

.pb_15{
  padding-bottom: 15px;
}

/*OVERLAY*/
.ov_txt{
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}
.overlay {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255, 1);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}



.overlay-content {
  height: 100%;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #4D4D4D;
    text-decoration: none;
    z-index: 10;
}
.overlay .closebtn:hover {
  color: #ff5757;
  transition: 0.5s;
}

.ulpload_square{
  padding: 50px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#myImg{
  height: 300px;
  width: auto;
  border-radius: 10px;
}
.inner{
  padding-top: 25px;
  padding-bottom: 25px;
}
.hidden{
  display: none;
}

#snap{
  cursor: pointer;
  transition: 0.5s;
}

#snap:hover{
  color: rgba(0, 0, 0, 0.5);
}

/*GRAPHS*/
.canvasjs-chart-toolbar{
  display: none;
}

.canvasjs-chart-credit{
  display: none;
}

.canvasjs-chart-canvas{
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*FOOTER*/
.crediti{
  height: 25px;
  background-color: #1c1c1c;
}

.txt_crediti{
  color: #FFFFFF;
  font-size: 10px;
}
